.chatSystem_parent
{
    position: relative;
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

.rooms_container
{
    width: 400px;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

.join_create_container
{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

.join_create_container button
{
    color: var(--primary);
    cursor: pointer;
    font-size: 14px;
    padding: 9px 14px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: transparent;
}

.dark_room-filter, .light_room-filter
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark_room-filter input, .light_room-filter input
{
    margin: 15px auto;
    width: 95%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.dark_room-filter input
{
    background-color: var(--dark_hover);
    color: var(--dark_secondary-font);
}

.dark_room-filter input::placeholder
{
    color: var(--dark_secondary-font);
}

/*
.dark_room-filter input:focus
{
    border: 2px solid rgb(78, 78, 78);
    outline: 0;
} */

.light_room-filter input
{
    background-color: var(--light_hover);
    color: var(--light_secondary-font);
}

.light_room-filter input::placeholder
{
    color: var(--light_secondary-font);
}
/* 
.light_room-filter input:focus
{
    border: 2px solid rgb(199, 199, 199);
    outline: 0;
} */

.rooms_list ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: calc(100vh - 197px);
    overflow-y: auto;
}

.rooms_list ul li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    transition: 0.15s ease-in-out;
}

.room_click
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
}

.dark_group_icon, .light_group_icon
{
    fill: var(--primary);
    height: 31px;
    width: 32px;
    cursor: pointer;
    padding: 9px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.dark_group_icon
{
    background-color: rgb(67, 67, 67);
}

.light_group_icon
{
    background-color: rgb(213, 213, 213);
}

.grp_details
{
    display: flex;
    width: calc(100% - 60px);
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 7px 0px;
}

.grp_details div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.room_name
{
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.last_message
{
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease-in-out;
    font-weight: 500;
}

.tap_to_chat
{
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}

.last_msg_timestamp
{
    margin: 0;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease-in-out;
    font-weight: 500;
}

.line
{
    height: 1px;
    width: calc(100% - 75px);
    width: 95%;
    margin: auto;
    transition: 0.5s ease-in-out;

}