.chat_parent
{
    width: calc(100vw - 400px);
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
    position: relative;
}

.group_header
{
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 0px 5px;
    transition: 0.5s ease-in-out;

}

.group_header div
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    margin-left: 10px;
}

.group_profile_pic_dark, .group_profile_pic_light
{
    fill: var(--primary);
    height: 33px;
    width: 33px;
    cursor: pointer;
    padding: 9px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.group_profile_pic_dark
{
    background-color: rgb(67, 67, 67);
}

.group_profile_pic_light
{
    background-color: rgb(213, 213, 213);
}

.r_name
{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.creator
{
    margin: 0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.options
{
    fill: var(--primary);
    height: 40px;
    width: 30px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}


.message_box
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 5px;
    height: calc(100vh - 190px);
    overflow: auto;
}

.self_message_container, .others_message_container
{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    max-width: 75%;
    opacity: 0;
}

.self_message_container
{
    margin-left: auto;
}

.others_message_container
{
    margin-right: auto;
}

.dark_chat_box_profile_icon, .light_chat_box_profile_icon
{
    fill: var(--primary);
    transition:  0.5s ease-in-out;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    padding: 6px;
}

.light_chat_box_profile_icon
{
    background-color: rgb(67, 67, 67);
}

.light_chat_box_profile_icon
{
    background-color: rgb(213, 213, 213);
}


.self_message_container div
{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}

.others_message_container>div
{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}

.others_message_container>div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.sender_name
{
    margin: 0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
    color: #d5d5d5;
}

.message
{
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
    color: #EDEDED;
    display: flex;
    align-items: center;
    
}

.timestamp
{
    margin: 0;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 7500;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
    color: #d5d5d5;
    display: flex;
    align-items: end;
    margin-right: -5px;
    margin-bottom: -6px;
}

.form_dark, .form_light
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

.form_dark
{
    background-color: rgb(67, 67, 67);
}

.form_light
{
    background-color: rgb(213, 213, 213);
}


.form_dark input, .form_light input
{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.form_dark input
{
    background-color: rgb(128, 128, 128);
    color: var(--dark_primary-font);
}

.form_light input
{
    color: var(--light_primary-font);
    background-color: rgb(241, 241, 241);
}

.form_dark input::placeholder
{
    color: var(--dark_primary-font);
    transition: 0.5s ease-in-out;
}

.form_light input::placeholder
{
    color: var(--light_primary-font);
    transition: 0.5s ease-in-out;
}

.form_dark button, .form_light button
{
    padding: 0px;
    border: none;
    outline: none;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

.form_dark button
{
    background-color: rgb(128, 128, 128);
}

.form_light button
{
    background-color: rgb(241, 241, 241);
}

.send_icon
{
    fill: var(--primary);
    height: 100%;
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
}



.self_message_container
{
    animation-name: othersMessageAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes othersMessageAnimation
{
    0%
    {
        opacity: 0;
        transform: scale(0.5) translateX(100%);
    }

    100%
    {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}

.others_message_container
{
    animation-name: selfMessageAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes selfMessageAnimation
{
    0%
    {
        opacity: 0;
        transform: scale(0.5) translateX(-100%);
    }

    100%
    {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}