.dark_signup_form_container,
.light_signup_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.dark_signup_form_container {
  background-color: rgba(0, 0, 0, 0.823);
}

.light_signup_form_container {
  background-color: rgba(65, 65, 65, 0.833);
}

.dark_signup_form_container h1,
.light_signup_form_container h1 {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin: 0;
  opacity: 0;
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
}

.dark_signup_form_container form,
.light_signup_form_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.dark_signup_form_container form input,
.light_signup_form_container form input {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  width: 100%;
  opacity: 0;
}

.dark_signup_form_container form input {
  background-color: var(--dark_hover);
  color: var(--dark_secondary-font);
}

.dark_signup_form_container form input::placeholder {
  color: var(--dark_secondary-font);
}

.light_signup_form_container form input {
  background-color: var(--light_hover);
  color: var(--light_secondary-font);
}

.light_signup_form_container form input::placeholder {
  color: var(--light_secondary-font);
}

.dark_signup_form_container button,
.light_signup_form_container button {
  margin-top: 10px;
  color: var(--dark_primary-font);
  background-color: var(--primary);
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  opacity: 0;
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1300ms;
}

.dark_signup_form_container form input:nth-child(1),
.light_signup_form_container form input:nth-child(1) {
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.dark_signup_form_container form input:nth-child(2),
.light_signup_form_container form input:nth-child(2) {
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
}

.dark_signup_form_container form input:nth-child(3),
.light_signup_form_container form input:nth-child(3) {
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 900ms;
}

.dark_signup_form_container form input:nth-child(4),
.light_signup_form_container form input:nth-child(4) {
  animation-name: fadeInSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1100ms;
}

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
